body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
<<<<<<< HEAD
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}


=======
  text-align: center;
}

h1 {
  color: #333;
}

#weatherInfo {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #2e7d32;
}

p {
  font-size: 18px;
}

>>>>>>> b7c96ac61c1790a7aae9a8e640c9ff43e3193e21
  